.header {
  font-size: 30pt;
  display: flex;
  justify-content: center;
}
.header {
  background-image: linear-gradient(
    to right top,
    #e51616,
    #f30053,
    #ef1d88,
    #d949b7,
    #b46adb,
    #9b6dd8,
    #836fd3,
    #6b6fcb,
    #645bad,
    #5b4790,
    #503574,
    #43245a
  );
}
.about_title {
  display: flex;
  justify-content: center;
  font-size: 30pt;
  border-bottom: 0.4vh solid;
}
.about_cont {
  background-image: linear-gradient(
    to left bottom,
    #269ef9,
    #4a9ff8,
    #60a0f6,
    #71a2f5,
    #80a3f3,
    #92aaf3,
    #a3b1f3,
    #b1b9f3,
    #c7c9f5,
    #dbdaf8,
    #edebfa,
    #fdfdfd
  );
}

.proj_title {
  font-size: 30pt;
  display: flex;
  justify-content: center;
  color: white;
}
.hangman {
  background-color: white;
  font-size: 12pt;
  color: white;
  margin-left: 3.5vw;
}
.Projects_cont {
  background-image: linear-gradient(
    to right top,
    #4a0841,
    #362351,
    #223156,
    #1d3b51,
    #2c414a
  );
}
.hang_title {
  color: white;
}

.hang_cont {
  text-align: left;
  margin-left: 2vw;
}
.hang_desc {
  color: white;
  width: 15%;
}
.hangman_button:link {
  color: black;
  text-decoration-line: none;
}
.hangman {
  border-bottom-left-radius: 24%;
  border-bottom-right-radius: 24%;
  border-top-left-radius: 24%;
  border-top-right-radius: 24%;
}
.skill_title {
  display: flex;
  justify-content: center;
  font-size: 30pt;
}
.skill_cont {
  
  grid-column: 2/3;
  grid-row: 3/4;
  align-items: center;
  width: 15%;

}

.skill1 {
  height: auto;
  width: 4vw;
  margin-left: 10vw;
}
.skill2 {
  height: auto;
  width: 4vw;
  margin-left: 10vw;
}
.skill3 {
  height: auto;
  width: 5vw;
  margin-left: 10vw;
}
.skill4 {
  height: auto;
  width: 5vw;
  margin-left: 8vw;
  
}
.skill5 {
  height: auto;
  width: 5vw;
  margin-left: 10vw;
}
.skill6 {
  height: auto;
  width: 5vw;
  margin-left: 10vw;
}
.skill7 {
  height: auto;
  width: 5vw;
  margin-left: 10vw;
}
.skill8 {
  height: auto;
  width: 5vw;
  margin-left: 10vw;
}
